<section class="apresentacao">
    <div class="apresentacao_perfil"></div>
    <article class="texto apresentacao_resumo">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus incidunt eligendi perspiciatis ipsam, laudantium mollitia deleniti minus reprehenderit vel, neque eum voluptatum. Placeat nihil itaque tempore dignissimos? Sint, nulla velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam quis perferendis maiores saepe facere fugit et aspernatur nobis corrupti laudantium iste, labore iusto placeat perspiciatis voluptate dolorem est rerum?
    </article>
</section>