.parallax_wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* perspective: 300px; */
}

.outro_screen {
    /* transform-style: preserve-3d; */
    /* height: 100vh; */
}

.container {
    background-image: url("https://pbs.twimg.com/media/B2XTRwtCAAEnqlP.jpg:large");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.titulo {
    /* position: absolute;
    top: 40%;
    left: 25%; */
    width: 50%;
    max-width: 500px;
    text-align: center;
    padding: 25px;
    border: 8px solid white;
    font-family: 'Franklin Gothic Heavy', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 2px 2px 5px
                             rgba(255, 255, 255, 0.5);
}

#titulo {
    /* transform: translateZ(-300px) scale(2);
    z-index: 0; */
}

#group-1 {
    z-index: -1;
}

#outro {}